# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
========    GEMINI API KEYS ========
REACT_APP_GEMINI_KEY_CHAT= AIzaSyDrn4aI-V1tzCclCewAvblKwDcDFtWTdN4
REACT_APP_GEMINI_KEY_ANALYSIS = AIzaSyBHTB-gkR-EOXN-hD_2BB3cb0hqi6AxSV0